{% extends "base.html" %}
{% load static %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block page_header %}
    <!--Page Header-->
    <div class="page-header bag-container mb-3">
        <h1>
            Your Bag {% if not bag_content %}Is Empty{% endif %}
        </h1>
        {% if bag_content %}
            <p>Total: {{ bag_item_count }} items <span class="bl-1 font-weight-bold border-left pl-2">£{{ bag_total }}</span></p>
        {% else %}
            <p>When you add an item to your bag, it will appear here!</p>
        {% endif %}
        <hr class="w-100">
        {% if not bag_content %}
            <a class="cta cta--prim" href="{% url 'products' %}">Explore XRYO <span class="ml-1"><i class="fas fa-arrow-right"></i></span></a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {% if bag_content %}
    <p>{{ bag_content }}</p>
    <p>{{ request.session.bag }}</p>
        <!--Bag-->
        <div class="bag-container row">
            <!--Bag Items-->
            <div class="col-12 col-md-7">
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col" colspan="3">Item</th>
                                <th scope="col" class="text-right align-middle">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in bag_content %}
                            <tr class="border-bottom">
                                <td class="bag-img py-3">
                                    {% if item.product.album %}
                                        {% for image in item.product.album.images.all %}
                                            {% if image.default == True %}
                                            <a href="{% url 'product_detail' item.product.id %}">
                                                <img class="img-fluid" src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ variant }} {{ product }}">
                                            </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <!--Item Details-->
                                <td colspan="2" class="p-3">
                                    <a href="{% url 'product_detail' item.product.id %}" class="my-0"><strong>{{ item.product.name|title }}</strong></a>
                                    <p class="small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    <p><strong>Size: </strong>{% if item.product.sizes %}{{ item.size|upper }}{% else %}One Size Fits Most{% endif %}</p>
                                    <p class="font-weight-bold mb-2">Quantity</p>
                                    <form class="form-qty-update" method="POST" action="{% url 'update_bag' item.product.id %}">
                                        {% csrf_token %}
                                        <select name="quantity" id="qty_{{ item.product_id }}">
                                            <option value="defaultOption" disabled="" hidden=""></option>
                                            {% for i in '0123456789'|make_list %}
                                                <option value="{{ forloop.counter }}" {% if item.quantity == forloop.counter %} selected {% endif %}>{{ forloop.counter }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if item.product.sizes %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </form>
                                    <a class="update-link text-info"><small>Update</small></a>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>£{{ item.product.price }}</p>
                                        </div>
                                        <div class="col-6">
                                            <a class="remove-item text-danger float-right" id="remove_{{ item.product_id }}" data-size="{{ item.size }}"><small><i class="fas fa-times"></i> Remove</small></a>
                                        </div>
                                    </div> 
                                </td>
                                <td class="py-3 text-right align-middle">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <!--Order Summary-->
            <div id="order-summary" class="col-12 col-md-5">
                <div class="row">
                <div class="col-12">
                    <h3 class="mb-3">Summary</h3>
                </div>
                <div class="col-8">
                    <p>Bag Total:</p>
                </div>
                <div class="col-4 text-right">
                    <p>£{{ bag_total|floatformat:2 }}</p>
                </div>
                <div class="col-8">
                    <p>Delivery:</p>
                </div>
                <div class="col-4 text-right">
                    <p>
                        {% if free_delivery_delta > 0 %}
                            £{{ delivery_charge|floatformat:2 }}
                        {% else %}
                            FREE
                        {% endif %}
                    </p>
                </div>
                <div class="col-6">
                    <h4>Total:</h4>
                </div>
                <div class="col-6 text-right">
                    <h4>£{{ bag_grand_total|floatformat:2 }}</h4>
                </div>
                {% if free_delivery_delta > 0 %}
                    <div class="col-12 text-right">
                        <p class="mb-1">
                        Free delivery if you spend <strong>£{{ free_delivery_delta }}</strong> more!
                    </p>
                    </div>
                {% endif %}
                </div>
                <div class="text-center">
                    <a href="" class="cta cta--prim mt-3 w-100">CHECKOUT <span class="pl-2"><i class="fas fa-credit-card"></i></span></a>
                    <p class="my-3">Not Finished Shopping?</p>
                    <a href="{% url 'products' %}" class="cta cta--third w-100">
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {% block add_postload_js %}
        <!--Bag JS-->
        <script type="text/javascript">
            // Update quantity of a product when update clicked
            $('.update-link').click(function(e) {
                console.log('i ran')
                var form = $(this).prev('.form-qty-update');
                form.submit();
            })

            // Remove product when remove button clicked
            $('.remove-item').click(function(e) {
                var csrfToken = "{{ csrf_token }}";
                var itemId = $(this).attr('id').split('remove_')[1];
                var size = $(this).data('size');
                var url = `/bag/remove/${itemId}`;
                var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

                $.post(url, data)
                    .done(function() {
                        location.reload();
                });
            })
        </script>
    {% endblock %}
{% endblock %}