{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block page_header %}
    <!--Page Header-->
    <div class="page-header container mb-3">
        <h1>
            Your Bag {% if not bag_content %}Is Empty{% endif %}
        </h1>
        {% if bag_content %}
            <p>Total: {{ bag_item_count }} items <span class="bl-1 font-weight-bold border-left pl-2">£{{ bag_total }}</span></p>
        {% else %}
            <p>When you add an item to your bag, it will appear here!</p>
        {% endif %}
        <hr class="w-100">
        {% if not bag_content %}
            <a class="cta cta--prim" href="{% url 'products' %}">Explore XRYO <span class="ml-1"><i class="fas fa-arrow-right"></i></span></a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {% if bag_content %}
        <!--Bag-->
        <div class="container row">
            <!--Bag Items-->
            <div class="col-12 col-md-7">
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col" colspan="3">Item</th>
                                <th scope="col" class="text-right align-middle">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in bag_content %}
                            <tr class="border-bottom">
                                <td class="bag-img py-3">
                                    {% if item.variant %}
                                        <a href="{% url 'product_variant' item.product.id item.variant.id %}">
                                    {% else %}
                                        <a href="{% url 'product_detail' item.product.id %}">
                                    {% endif %}
                                        {% with variant=item.variant product=item.product %}
                                            <img class="display-image card-img rounded-0" {% include 'includes/products_images/thumbnail_selector.html' %}>
                                        {% endwith %}
                                        </a>
                                </td>
                                <!--Item Details-->
                                <td colspan="2" class="p-3">
                                    <a href="{% if item.variant %} {% url 'product_variant' item.product.id item.variant.id %} {% else %} {% url 'product_detail' item.product.id %} {% endif %}" class="my-0">
                                        <strong>{{ item.product.name|title }}</strong>
                                    </a>
                                    {% if item.variant %}
                                    <p class="mb-0">{{ item.variant.name|title }}</p>
                                    {% endif %}
                                    <p class="small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    <p><strong>Size: <br class="d-md-none"></strong>{% if item.product.sizes %}{{ item.size|upper }}{% else %}One Size Fits Most{% endif %}</p>
                                    <p class="font-weight-bold mb-2">Quantity</p>
                                    <form class="form-qty-update" method="POST" action="{% url 'update_bag' item.product.id %}">
                                        {% csrf_token %}
                                        <select class="qty-selector" name="quantity" id="qty_{{ item.product_id }}">
                                            <option value="defaultOption" disabled="" hidden="">Quantity</option>
                                            {% for i in '0123456789'|make_list %}
                                                <option value="{{ forloop.counter }}" {% if item.quantity == forloop.counter %} selected {% endif %}>{{ forloop.counter }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if item.variant %}
                                            <input type="hidden" name="product_variant" value="{{ item.variant_id }}">
                                        {% elif item.product.sizes %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </form>
                                    <div class="row px-0">
                                        <div class="col-6 px-0 mt-3">
                                            <p>£{{ item.product.price }}</p>
                                        </div>

                                        <!--Remove Bag Item-->
                                        <div class="col-6 px-0 text-right">
                                            <a class="remove-item text-danger" id="remove_{{ item.product_id }}" data-product_variant="{{ item.variant_id }}" data-product_size="{{ item.size }}"><small><i class="fas fa-times"></i> Remove</small></a>
                                        </div>
                                    </div> 
                                </td>
                                <td class="py-3 text-right align-middle">
                                    <p>£{{ item.product.price | subtotal_price_calc:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <!--Order Summary-->
            <div id="order-summary" class="col-12 col-md-5">
                <div class="row">
                <div class="col-12">
                    <h3 class="mb-3">Summary</h3>
                </div>
                <div class="col-8">
                    <p>Bag Total:</p>
                </div>
                <div class="col-4 text-right">
                    <p>£{{ bag_total|floatformat:2 }}</p>
                </div>
                <div class="col-8">
                    <p>Delivery:</p>
                </div>
                <div class="col-4 text-right">
                    <p>
                        {% if free_delivery_delta > 0 %}
                            £{{ delivery_charge|floatformat:2 }}
                        {% else %}
                            FREE
                        {% endif %}
                    </p>
                </div>
                <div class="col-6">
                    <h4>Total:</h4>
                </div>
                <div class="col-6 text-right">
                    <h4>£{{ bag_grand_total|floatformat:2 }}</h4>
                </div>
                {% if free_delivery_delta > 0 %}
                    <div class="col-12 text-right">
                        <p class="mb-1">
                        Free delivery if you spend <strong>£{{ free_delivery_delta }}</strong> more!
                    </p>
                    </div>
                {% endif %}
                </div>

                <!--Bag Call To Actions-->
                <div class="text-center mt-3 mb-5">
                    <a href="{% url 'products' %}" class="cta cta--third w-100">
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="cta cta--prim mt-3 w-100">CHECKOUT <span class="pl-2"><i class="fas fa-credit-card"></i></span></a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block add_postload_js %}
    <!--Bag JS-->
    <script>
        // Update quantity of a product when quantity selector is changed
        $('.qty-selector').on('change', function(e) {
            var form = $(this).closest('.form-qty-update');
            form.submit();
        });

        // Remove product when remove button clicked
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var productId = $(this).attr('id').split('remove_')[1];
            var variant_id = $(this).data('product_variant');
            var size = $(this).data('product_size');
            var url = `/bag/remove/${productId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size, 'product_variant': variant_id};

            $.post(url, data)
                .done(function() {
                    location.reload();
            });
        });
    </script>
{% endblock %}