/*------------------------------------------------------Hero--*/
.hero {
    width: 100%;
}

.hero--second {
    margin-top: 15px;
}

.hero__image-main {
    margin-top: -24px;
    background: url(/media/site_images/landing_hero.JPG) no-repeat;
    background-position: 60% 70%;
    background-size: cover;
    position: relative;
    height: 70vh;
}

.hero__image-second {
    background: url(/media/site_images/goggle_hero.jpg) no-repeat;
    background-position: 100% 50%;
    background-size: cover;
    position: relative;
    height: 50vh;
}

.hero__inner {
    position: absolute;
    padding: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero__inner--left {
    left: 5%;
}

.hero__inner--right {
    right: 5%;
}

.hero__title {
    font-weight: 700 !important;
    font-size: 2.5rem;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.hero__tagline {
    font-size: 2rem;
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/*------------------------------------------------------Hero Responsive & Mobile--*/
@media screen and (max-width: 475px) {
    .hero__inner--left {
        left: 0;
    }

    .hero__inner--right {
        right: 0;
    }
}

@media screen and (max-width: 375px) {
    .hero__title {
        font-size: 2rem;
    }

    .hero__inner--right {
        right: 0;
    }
}

/*------------------------------------------------------Newsletter--*/
.newsletter {
    font-weight: 700;
    background-color: yellow;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 475px) {
    .newsletter h3 {
        font-size: 1.5rem;
    }
}

/*------------------------------------------------------Social--*/
.social {
    font-weight: 700;
    background-color: var(--primary-cta);
    padding: 10px 0;
    text-align: center;
    align-items: center;
    color: white;
}

.social h3 {
    margin: 0;
}

.social ul {
    padding: 0;
}

.social li {
    display: inline;
    font-size: 3rem;
    padding: 0 20px;
}

@media screen and (max-width: 475px) {
    .social li {
        font-size: 2.5rem;
        padding: 5px;
    }

    .social h3 {
        font-size: 1.5rem;
        margin: 10px 0;
    }
}