{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <!--Page Header-->
    <div class="page-header container mb-3">
        <h1>Thank you for your order!</h1>
        <hr class="w-100">
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <p class>Your order number is: <strong>{{ order.order_number }}</strong></p>
                <p>Total Amount: <strong>£{{ order.grand_total }}</strong></p> 
                <p>A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
            </div>
        </div>
        <a href="{% url 'products' %}" class="cta cta--prim my-2">
            Find More Great XRYO Gear<span class="pl-3"><i class="fas fa-chevron-right"></i></span>
        </a>
    </div>
{% endblock %}