/*------------------------------------Delivery Form--*/
.profile-form-input {
    border: 1px solid black;
    border-radius: 10px;
}

.profile-form-input::placeholder {
    color: silver;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: black;
}

#id_default_country option:first-child {
    color: silver;
}

/*------------------------------------Order History--*/
.order {
    background: black;
    color: white;
    border-radius: 10px;
    padding: 5px 0;
}

.order:hover {
    background-color: var(--primary-cta);
}

@media screen and (max-width: 567px) {
    .order-headers {
        display: none;
    }
}

/*------------------------------------Product Management--*/
.pm-item {
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pm-item:hover {
    background-color: var(--primary-cta);
    color: white;
}

.pm-item-border {
    border-right: 1px solid black;
}

.pm-cat-btn-selected {
    background: black !important;
    color: white;
}

.pm-cat-btn:hover {
    background-color: var(--primary-cta);
    color: white
}

@media screen and (max-width: 567px) {
    .pm-small-text {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 375px) {
    .pm-small-text {
        font-size: 0.5rem;
    }
}