/*------------------------------------Delivery Form--*/
.profile-form-input {
    border: 1px solid black;
    border-radius: 10px;
}

.profile-form-input::placeholder {
    color: silver;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: black;
}

#id_default_country option:first-child {
    color: silver;
}

/*------------------------------------Order History--*/
.order {
    background: black;
    color: white;
    border-radius: 10px;
    padding: 5px 0;
}

.order:hover {
    background-color: var(--primary-cta);
}

@media screen and (max-width: 567px) {
    .order-headers {
        display: none;
    }
}