.checkout-summary {
  -ms-flex-order: 2;
  order: 2;
}

@media screen and (max-width: 768px) {
  .checkout-summary {
    -ms-flex-order: -1;
    order: -1;
  }
}

/*--------------------------------------Stripe--
Source: https://stripe.com/docs/
NOT ALL MY OWN CODE
Adpated to my needs so the stipe element matches the
form it is placed in.
*/

.StripeElement,
.stripe-customise {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  background-color: white;
}

.StripeElement--focus,
.stripe-customise:focus,
.stripe-customise:active {
  box-shadow: 0 1px 3px 0 white;
}

.StripeElement--webkit-autofill {
  background-color: white !important;
}

.stripe-customise::placeholder,
.form-control::placeholder {
  color: silver;
}

.fieldset-label {
  position: relative;
  right: .5rem;
}

#checkout-form .form-control,
#card-element {
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
}
/*--(END NOT ALL MY OWN CODE)--*/

/*--Payment Overlay--*/
#payment-overlay {
  display: none;
  background: rgba(255, 251, 0, 0.787);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading-icon {
  font-size: 2.5rem;
  margin: 0;
  height: 100%;
  text-align: black;
  display: flex;
  align-items: center;
  justify-content: center;
}