{% extends "base.html" %}
{% load static %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <!--Page Header-->
    <div class="page-header container mb-3">
        <h1>Edit Product</h1>
        <a class="cta cta--delete" href="{% url 'delete_product' product_id=product.id %}">Delete Product</a>
        <p class="info-highlight">On submission the form may take a little while to to process</p>
        <hr class="w-100">
        <p>Feilds with * are required</p>
    </div>
{% endblock %}

{% block content %}
    <div class="row container">
        <div class="col-12">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <label for="product-images" class="mt-2 d-block">Product Images</label>

                <!--Product Images-->
                {% if product.album.images.all|length > 0 %}
                    <p class="info-highlight">Click to select default</p>
                    {% for image in product.album.images.all %}
                        <input type="radio" id="{{ image.id }}" name="product-default-image" value="{{ image.id }}" {% if image.default is True %} checked {% endif %}>
                        <label for="{{ image.id }}">
                            <img width="120" height="150" class="mb-2" src="{{ MEDIA_URL }}{{ image.image }}">
                            {{image.default}}
                        </label>
                        <input type="checkbox" id="delete-product-image-{{image.id}}" name="delete-product-image-{{image.id}}">
                        <label for="delete-product-image-{{image.id}}" class="highlight b-block">Delete</label>
                    {% endfor %}
                {% else %}
                    <p><strong>No Images</strong></p>
                {% endif %}
                <input type="file" id="product-images" name="product-images" class="d-block mt-4" multiple>
                <p class="info-highlight mt-3">Only .png and .jpg files are supported</p>
                <h2 class="mt-5">Variants</h2>
                <hr>

                <!--Current Variants-->
                {% for variant in product.variant_set.all %}
                    <fieldset id="current-variant-{{ variant.id }}" class="rounded mt-3">
                        <legend class="fieldset-label font-size-1 font-weight-bold p-2 w-auto">Variant - {{ variant.name|title }}</legend>
                        <label for="current-variant-name-{{ variant.id }}">Variant Name*</label>
                        <input type="text" id="current-variant-name-{{ variant.id }}" name="current-variant-name-{{ variant.id }}" class="form-input w-100 d-block" maxlength="100" value="{{ variant.name }}" required>
                        <label for="current-variant-sku-{{ variant.id }}" class="mt-2">Variant SKU</label>
                        <input type="text" id="current-variant-sku-{{ variant.id }}" name="current-variant-sku-{{ variant.id }}"  class="form-input w-100 d-block" maxlength="100" {% if variant.sku %}value="{{ variant.sku }}"{% endif %}>
                        <label for="current-variant-images-{{ variant.id }}" class="mt-2 d-block">Variant Images</label>
                        {% if variant.album.images.all|length > 0 %}
                            <!--Variant Iamges-->
                            <p class="info-highlight">Click to select default</p>
                            {% for image in variant.album.images.all %}
                                <div class="d-inline">
                                    <input type="radio" id="variant-{{ image.id }}" name="variant-default-image-{{ variant.id }}" value="{{ image.id }}" {% if image.default is True %} checked {% endif %}>
                                    <label for="variant-{{ image.id }}">
                                        <img width="120" height="150" class="mb-2" src="{{ MEDIA_URL }}{{ image.image }}">
                                    </label>
                                    <input type="checkbox" id="delete-variant-image-{{ image.id }}" name="delete-variant-image-{{ image.id }}">
                                    <label for="delete-variant-image-{{ image.id }}" class="highlight b-block">Delete</label>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p><strong>No Images</strong></p>
                        {% endif %}
                        <!--Add Variant Image-->
                        <input type="file" id="add-variant-images-{{ variant.id }}" name="add-variant-images-{{ variant.id }}" class="d-block mt-4" multiple>
                        <p class="info-highlight">Only .png and .jpg files are supported</p>
                        <input type="hidden" id="current-variant-id" name="current-variant-id" value="{{ variant.id }}">

                        <!--Delete Variant-->
                        <input type="checkbox" id="delete-variant-{{ variant.id }}" name="delete-variant-{{ variant.id }}" class="delete-current-variant">
                        <label for="delete-variant-{{ variant.id }}" class="highlight b-block font-weight-bold">Delete Variant On Save</label>
                    </fieldset>
                {% endfor %}

                <button id="add-variant" class="cta cta--add d-block mt-3" type="button"><i class="fas fa-plus"></i> Add Variant</button>
                <div class="text-right mt-3">
                    <a class="cta cta--thrid" href="{% url 'product_management' %}">Cancel</a>
                    <button class="cta cta--prim" type="submit">Save Changes</button>
                    <p class="info-highlight mt-3">After save stay on this page until the site reloads</p>
                </div>
                <input type="hidden" id="variant-count" name="variant-count" value="0">
            </form>
        </div>
    </div>
{% endblock %}

{% block add_postload_js %}
    <!--Product Management JS-->
    <script src="{% static 'products/js/pm_variant_inputs.js' %}"></script>
{% endblock %}