/*------------------------------------------------------Google Font--*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/* 
Bootstrap Custom Breakpoint @ 1024px 
Source: https://www.codeply.com/go/J70zkpygvk (NOT MY OWN CODE)
IMPORTANT: media query must be 1px higher then target breakpoint as it uses min-width
and not max-width.
*/
@media (min-width: 1025px) { 
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
/*--(END of NOT MY CODE)--*/

/*------------------------------------------------------Basic Structure Styling--*/
html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:#000000;
    background: #ffffff;
    font-size: 1rem;
    top: 0 !important;
    height: 100%;
}

main {
    padding-top: 95px;
    min-height: 100%;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

.row {
    width: 100%;
    margin: 0 auto;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
}

small {
    font-size: 0.875rem;
}

/*--Flex Box--*/
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.flex-item {
    align-self: auto;
}

.flex-start {
    align-self: flex-start;
}

.flex-end {
    align-self: flex-end;
}

.flex-largest {
    flex-grow: 2;
}

/*--Display--*/
.mobile-only {
    display: none;
}

@media screen and (max-width: 1025px) {
    .mobile-only {
        display: block;
    }
}

.table {
    display: table;
    color: inherit !important;
}


.table-cell {
    display: table-cell;
    vertical-align: middle;
}

/*--Buttons--*/
button:focus {
    outline: none;
}

.cta {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    padding: 9px 20px;
    border-width: 0px;
    border-radius: 30px;
}

.cta--prim {
    color: white;
    background-color: var(--primary-cta);
}

.cta--second {
    color: black;
    background-color: white;
}

.cta--third {
    color: white;
    background-color: black;
}

.cta:hover {
    color: white;
    background-color: slategray;
}

.cta--hero {
    margin-top: 10px;
}

/*---Colour Varibales--*/
:root {
    --primary-cta: rgb(0, 140, 255);
}

/*------------------------------------------------------Site Header--*/
.site-header {
    width: 100%;
    background-color: #000000;
    position: fixed;
    color: white;
    filter: drop-shadow(0px 0px 5px #000000);
    z-index: 100;
}

.site-header .table {
    margin: 0;
}

.site-header .table-cell:nth-child(2){
    padding:0 0 0 7.5px;
}

.site-header__nav {
    padding: 10px 30px;
    border: 1px;
}

.site-header__icon {
    font-size: 2rem;
}

.navbar-toggler {
    color: inherit;
    font-size: 2rem;
}

.site-header__navbar > li {
    padding-right: 20px;
}

.site-header__navbar .nav-item:hover,
.site-header__navbar .nav-item:active,
.site-header__navbar .active {
    border-bottom: 3px solid;
    border-color: var(--primary-cta);
}

/*--Info Banner--*/
.info-banner {
    background-color: rgb(255, 251, 0);
    color: black;
    width: 100%;
    padding: 5px 30px;
}

.info-banner__text {
    line-height: 2;
}

/*--Search--*/
.search-btn {
    background: none;
    border: none;
    padding: 2px 6px;
}

.search-input {
    line-height: 2;
    border: 0px;
    border-radius: 10px;
    padding-left: 10px;
    width: 70%;
    max-width: 1000px;
    min-width: 30px;
}

.search-input:focus {
    outline: none;
}

/*--Logo--*/
.logo {
    margin-right: 30px;
}

.logo > img {
    height: 30px;
}

/*--Account--*/
.account {
    padding:0 20px;
}

/*--Basket--*/
.basket__icon {
    position: relative;
}

.basket__number {
    background-color: var(--primary-cta);
    border-radius: 75px;
    padding: 0.75px 5px;
    position: absolute;
    top: 11px;
    left: 50%;
    font-size: 0.75rem;
    transform: translateX(-50%);
}

/*------------------------------------------------------Site Header Mobile & Responsive--*/
@media screen and (max-width: 1025px) {
    .logo {
        flex-grow: 1;
    }

    .navbar-expand-custom {
        order: 6;
        flex-grow: 0;
    }

    .navbar-collapse {
        position: absolute;
        top: 110px;
        left:0;
        width: 100%;
        text-align: center;
        background: white;
        z-index: 20;
    }

    .navbar-collapse li{
        padding-right: 0;
    }

    .navbar-collapse .nav-item {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        background-color: white;
        color: black;
        font-size: 1rem;
        border: 0;
        border-bottom: 2px solid var(--primary-cta);
        font-weight: 700;
    }

    .navbar-collapse a:hover,
    .navbar-collapse .active {
        background-color: var(--primary-cta);
        color: white;
    }
}

@media screen and (max-width: 630px) {
    .info-banner {
        padding: 5px 15px;
    }

    .info-banner__text {
        flex-grow: 2;
    }

    .search {
        flex-grow: 0;
    }
}

@media screen and (max-width: 576px) {
    .site-header__nav {
        padding: 10px 15px;
    }

    .site-header__nav .table-cell {
        display: block;
        text-align: center;
    }

    .site-header .table-cell:nth-child(2){
        padding: 0;
    }

    .navbar-toggler {
        padding-right: 0;
    }

    #search {
        display: none;
    }

    .mobile-search {
        padding: 10px 15px;
        width: 100%;
        text-align: center;
    }

    .search-btn {
        color: white;
        padding-left: 10px;
    }

    .search-input {
        width: 70%;
    }

    .mobile-search-toggle {
        color: white;
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 435px) {
    .logo {
        margin-right: 15px;
    }

    .search {
        margin-left: 10px;
        flex-grow: 0;
    }

    .search__input {
        max-width: 90px;
    }
}

@media screen and (max-width: 375px) {
    .info-banner__text {
        font-size: 0.8rem;
    }
}

/*------------------------------------------------------Footer--*/
.footer {
    background-color: #1b1b1b;
    color: white;
    width: 100%;
}

.footer .row {
    padding: 30px;
    width: 100%;
    margin: 0;
}

.footer__back-to-top {
    display: inline-block;
    text-align: center;
    color: black;
    background-color: white;
    width: 100%;
    padding: 20px 0 !important;
    border: 2px solid black;
}

.footer__back-to-top:hover {
    color: var(--primary-cta);
}

.footer__title {
    color: var(--primary-cta);
}

.footer__list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

/*------------------------------------------------------Footer Mobile & Responsive--*/
@media screen and (max-width: 1024px) {
    .footer__list {
        font-size: 1.75rem;
    }

    .footer__list li {
        margin-top: 16px;
    }
}